* {
    color: black;
}

.purplecontainer {
    background-color: #cbc3e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}
.information {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 20px;
}

#aboutme {
    font-size: 20px;
    margin: 20px;
    font-family: "Optima", sans-serif;
}

#contactme {
    font-size: 20px;
    margin: 20px;
    font-family: "Optima", sans-serif;
}

#resume {
    font-size: 20px;
    margin: 20px;
    font-family: "Optima", sans-serif;
}

#work {
    font-size: 20px;
    margin: 20px;
    font-family: "Optima", sans-serif;
}
h3{
    border-right: solid purple;
    margin: 15px;
    padding: 15px;
    font-family: "Arial Narrow", sans-serif;
}
ul{
    text-align: right;
    color: purple;
    display: inline;
}
li{
    display: inline;
    font-size: 12px;
}
img {
    display: block;
    height: auto;
    opacity: 0.75;
    width: 100%;
}
#studentname {
    margin: 20px;
    background-color: lightgray;
    padding: 10px;
    box-shadow: 10px 5px 5px;
}
.navagationbar {
    display: block;
    text-align: right;
}
html {
    scroll-behavior: smooth;
}
